{% include "links.html" %}
<style>
body {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-national-day-film-festival-simple-gray-background-image_195524.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;

}
</style>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
            <a class="navbar-brand" href="adminHome.html">
            </a>
            <ul class="navbar-nav me-auto">
                 <li class="nav-item">
                      <a class="nav-link active" href="adminHome">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="addTheatre">Add Theatre</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="viewTheatres">View Theatres</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="addMovie">Add Movie</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="viewMovies">View Movies</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="logout">Logout</a>
                  </li>
            </ul>
      </div>
</nav>

